server:
  port: 88
spring:
  application:
    name: heiyingmail-gateway
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.1.104:8848
    gateway:
      routes:
        - id: product_route
          uri: lb://heiyingmail-product
          predicates:
            - Path=/api/product/**
          filters:
            - RewritePath=/api/?(?<segment>.*),/$\{segment}

        - id: third_party_route
          uri: lb://heiyingmail-third-party
          predicates:
             - Path=/api/thirdparty/**
          filters:
            - RewritePath=/api/thirdparty/?(?<segment>.*),/$\{segment}

        - id: member_route
          uri: lb://heiyingmail-member
          predicates:
            - Path=/api/member/**
          filters:
            - RewritePath=/api/?(?<segment>.*),/$\{segment}

        - id: ware_route
          uri: lb://heiyingmail-ware
          predicates:
            - Path=/api/ware/**
          filters:
            - RewritePath=/api/?(?<segment>.*),/$\{segment}

#        - id: coupon_route
#          uri: lb://heiyingmail-coupon
#          predicates:
#            - Path=/api/coupon/**
#          filters:
#            - RewritePath=/api/?(?<segment>.*),/$\{segment}

        - id: admin_route
          uri: lb://renren-fast
          predicates:
            - Path=/api/**
          filters:
            - RewritePath=/api/?(?<segment>.*),/renren-fast/$\{segment}


#前端项目带api前缀
